/* vim: set tabstop=2: */

#footer-bar ul {
	list-style: none;
}

#footer-bar > ul {
	display: flex;
}

#footer-bar a {
	display: block;
	font-size: small;
	text-align: center;
	font-weight: lighter;
	padding: 0.4em;
}

#footer-bar a:focus,
#footer-bar a:hover {
	background-color: gold;
}
