/* vim: set tabstop=2: */
@import 'home_narrow.css' (width  < 35em);
@import 'home_wide.css'   (width >= 35em);

main {
	align-items: center;
	text-align: center;
}

#welcome {
	display: grid;
	grid-template-columns: 1fr 1fr;
	align-items: center;
	text-align: center;
}

#vision-mission-container {
	display: grid;
	align-items: center;
}

li:focus,
li:hover {
	background-color: gold;
}
