/* vim: set tabstop=2: */

/****************************
 *      Generic part
 ****************************/

#navbar ul {
	list-style: none;
}

#navbar > ul {
	display: flex;
}

#navbar a {
	display: block;
	border: thin solid black;
	text-align: center;
	font-weight: bold;
	background-color: darkred;
	color: gold;
	padding: 0.4em;
	text-decoration: none;
}

#navbar a:hover,
#navbar a:focus {
	background-color: gold;
	color: darkred;
	
}

/****************************
 *        Submenu
 ****************************/

#navbar li:hover .submenu,
#navbar li:focus .submenu {
	visibility: visible;
	height: auto;
}

#navbar .submenu {
	visibility: hidden;
	height: 0;
}

/****************************
 *   Dynamic display width
 ****************************/

@media (width < 35em) {
	#navbar > ul {
		flex-direction: column;
	}
}

@media (width >= 35em) {
	#navbar > ul {
		flex-direction: row;
	}

	#navbar li {
		flex: 1;
	}
}
