<!-- vim: set tabstop=2: -->
<!doctype html>
<html lang="en">

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="">
		<title>Piglet Project</title>
		<link href="common.css" rel="stylesheet">
	</head>

<style>
	#top-two-images-container {
		display:flex;
	}

	#top-two-images-container img {
		max-width: 50%;
		margin-bottom: 50px;
	}

	#bottom-image-container {
		text-align:center;
	}

	#bottom-image-container img {
		max-width: 50%;
	}

</style>

	<body>

		{% include "navbar.html" %}

		<main>
			<div id="top-two-images-container">
				<img src='pictures/groceries_portrait_1.jpeg'/>
				<img src='pictures/family-with-shovels.jpg'/>
			</div>

			<h1 align=center> Who are the beneficiaries of this project? </h1>
			<p>
				This project targets poor families, Children heading families (a family
				whereby all parents died, and the elder child takes the responsibility
				of a parent). Single mothers especially poor widows with children who go
				to school and cannot afford to have school requirements such as writing
				pads or books for writing from, pens and pencils. I am talking here
				about families whereby buying a child a shoe it is regarded as
				wastefulness.
			</p>

			<div id="bottom-image-container">
				<img style="max-width: 61%" src='pictures/efp3.jpg'/>
				<img style="max-width: 34%" src='pictures/pigs-and-chicken.jpg'/>
			</div>

			<h1 align=center>What are the responsibilities of the beneficiaries? </h1>
			<p>
				Firstly, the beneficiaries will prepare a place where the piglets will
				be housed, it will be done in an ordinary manner. A start pack of
				feeding material and drinking bowls to be given (feeders and water etc).
				Having one person to visit these poor families and teaching them on how
				to take care of the pigs. The person will be visiting homes of
				beneficiaries to offer supervision services for two months. Training the
				beneficiaries on how to take care of the pigs in their respective homes.
			</p>

			<h1 align=center>Message of appreciation </h1>
			<p style="font-family: 'Brush Script MT', cursive; font-size:200%; text-align:left">
				Dearest friends in Christ,<br><br>

				We are very grateful for your generosity
				towards us. With your blessing our project is extending slowly. Children
				are back to school with some requirements.<br><br>

				Thank you so much and may the
				good Lord bless you abundantly 🙏🙏🙏
			</p>
	</main>
	</body>

{% include "footer.html" %}


</html>
