<!-- vim: set tabstop=2: -->
<!doctype html>
<html lang="en">

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="">
		<title>Piglet Project</title>
		<link href="common.css" rel="stylesheet">
	</head>

	<style>
		#challenges-pictures {
			display: grid;
			grid-template-columns: 1fr 1fr;
		}

		#challenges-pic-1 {
			grid-row: 1/2;
			grid-column: 1/2;
		}

		#challenges-pic-2 {
			grid-row: 1/2;
			grid-column: 2/3;
		}

		#challenges-pic-small-3 {
			grid-row: 2/3;
			grid-column: 1/2;
		}

		#challenges-pic-small-4 {
			grid-row: 2/3;
			grid-column: 2/3;
		}
	</style>

	<body>

		{% include "navbar.html" %}

		<main>
			<h1 align=center>Challenges that poor families face</h1>
			<p>
				Most of the rural poor families do not have money and material resources
				that they could use to support their households by providing nutritive
				food, medication, and proper clothing for themselves and also providing
				essential necessities to their own children in time of need.
			</p>

			<h1 align=center>Solution</h1>
			<p>
				By providing pig farming, the poor families will be able to benefit
				financial gains and profits to cater for the needs of their families.
				They will also improve their farming skills by using the pig wastes as
				manual for their gardens. Source of compost for their gardens and in
				the end, they will have vegetables and other foods. On this point, each
				family that is going to benefit from this project will have at least 30
				banana stem plantations whereby they will be putting the wastes of the
				pigs.
			</p>

			<div id=challenges-pictures>
				<img id=challenges-pic-1 src='pictures/efp2.jpg'/>
				<img id=challenges-pic-2 src='pictures/sau-mit-ferkeln.jpg'/>
				<img id=challenges-pic-3 src='pictures/working-with-banana-plants.jpg'/>
				<img id=challenges-pic-4 src='pictures/kids_infrontof_house_2.jpeg'/>
			</div>

			<h1 align=center>Long-term impact</h1>
			<p>
				Long-term Impact: The project will have a long-term self-sustaining
				effect in terms of solving problems that poor families face such as
				financial strains, nutritive food, and good farming. Another reason for
				keeping pigs is that families must try being more self-reliant. Working
				together as a family, in feeding pigs becomes a duty of everyone at
				home.  Once fed well every year they will have some pigs to sell. Pigs
				can produce10-12 piglets and within a year a pig can give birth two
				times.  Pigs are source of meat. Pigs reach slaughter weights when they
				are 6 months old. This means that in a period of 6 months the poor
				rural family will have something to sell. So, I feel that pig farming
				is the best project that can easily up lift the living standard of my
				people in the rural places of Binzi.  Teaching our kids how to farm
				pigs is a great way of helping the whole family to sustain themselves.
				Everyone is involved, children and parents and guardians. This will
				help teach our children the importance of caring for others and the
				importance of being responsible.  This is why, once this project has
				taken shape, our children will get knowledge that they need and the
				experiences they will remember to use in life. 
			</p>

	</main>
	</body>

{% include "footer.html" %}


</html>
