<div id="footer-bar" class="mt-12 mb-4 border-t border-gray-300 pt-4">
  <ul class="flex flex-col sm:flex-row justify-center space-y-2 sm:space-y-0 sm:space-x-4">
    <li class="flex-1 max-w-[200px] text-center"><a class="block text-sm font-light p-2 hover:bg-[gold] focus:bg-[gold] text-black underline" href="/terms_of_use.html">Terms of use</a></li>
    <li class="flex-1 max-w-[200px] text-center"><a class="block text-sm font-light p-2 hover:bg-[gold] focus:bg-[gold] text-black underline" href="/privacy_policy.html">Privacy policy</a></li>
  </ul>
</div>
