<div id="footer-bar" class="mt-12 mb-4 border-t border-gray-300 pt-8 pb-4">
  <ul class="flex flex-row justify-center space-x-8 mb-8">
    <li><a class="block text-sm font-medium p-2 hover:bg-[gold] focus:bg-[gold] text-black underline underline-offset-4" href="/terms_of_use.html">Terms of use</a></li>
    <li><a class="block text-sm font-medium p-2 hover:bg-[gold] focus:bg-[gold] text-black underline underline-offset-4" href="/privacy_policy.html">Privacy policy</a></li>
  </ul>
  <div class="text-xs text-gray-600 max-w-4xl mx-auto leading-relaxed px-4 text-center">
    <p class="mb-2 font-bold text-gray-800 text-sm">&copy; 2023-{{ current_year }} Sr. Dolores Foundation.</p>
    <p>
      This website contains various types of content, such as text, graphics, and images. This content may be owned by Fr. Emmanuel Kasibante. The content is protected by copyright under international laws. Unauthorized use of the content may violate copyright, and other laws, and is prohibited. You have no rights in or to the content except to the extent provided under this agreement. For any copy that applicable law permits you to make of the content, the copy must retain all copyright and other proprietary notices contained in the original.
    </p>
  </div>
</div>
