<!-- vim: set tabstop=2: -->
<!doctype html>
<html lang="en">

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="">
		<title>Get involved | Piglet Project</title>
		<link href="common.css" rel="stylesheet">
	</head>

	<style>
table, th, td {
	border: 1px solid;
	border-collapse: collapse;
	margin-bottom: 30px;
}

		img {
			max-height: 60vh;
		}

	</style>

	<body>

		{% include "navbar.html" %}

		<main>
			<h1 align=center>Get involved today</h1>
			<p>
			The current project we have is to buy 300 piglets for the 60 poor families as a kick start for those families to be self-reliant. You can buy a piglet; you can buy two or three or more. Give your love in acts of kindness, give your food, drink.
			</p>

			<div style="text-align: center">
				<img align=middle src='pictures/kids_infrontof_house.jpeg'/>
			</div>

			<h2 align=center> A brief budget for the piglets</h2>
			<div align=center>
				<table>
					<tr>
						<th>Piglets</th>
						<th>Cost in local currency</th>
						<th>Cost in Euros</th>
					</tr>
					<tr>
						<td> 1 @ </td>
						<td> UGX 150,000 </td>
						<td> EUR 40 </td>
					</tr>
					<tr>
						<td> 60 Families, 5 each </td>
						<td> UGX 750,000 </td>
						<td> EUR 200 </td>
					</tr>
					<tr>
						<td> 300 piglets needed </td>
						<td> UGX 45,000,000 </td>
						<td> EURO 12,000 </td>
					</tr>
					<tr>
						<td> Start-up-Feeds </td>
						<td> 60 bags each @ 50,000 </td>
						<td> EUR 14 </td>
					</tr>
					<tr>
						<td> </td>
						<td> 60x50,000 = 6,000,000 </td>
						<td> EUR 1680 </td>
					</tr>
					<tr>
						<td> Drugs and vitamins </td>
						<td> UGX 2,000,000 </td>
						<td> EURO 526 </td>
					</tr>
					<tr>
						<td> total </td>
						<td> UGX 53,000,000 </td>
						<td> EUR 14,206 </td>
					</tr>
				</table>
			</div>

			<p>
			With you buying us one piglet @ 40 Euros we can meet our target and you will have extended a helping hand. God bless you as you consider helping us.
			Our time flame is between nine month and a year.
			</p>

			<div style="text-align: center">
				<img align=middle src='pictures/group_of_kids_1.jpeg'/>
			</div>

			<h2 align=center >Financial Donation</h2>
			<p>
			The works of this initiatives of Sr. Dolores heart for the Poor depends
			on the generosity of people like yourself. Your donation makes a great
			difference in the lives of these families and their children. From 1euro
			and more a difference can be realised.
			</p>

			<div style="text-align: center">
				<h2 align=center> Other challenges</h2>
				<ul style="display: inline-block; text-align: left;">
					<li>Lack of clean water</li>
					<li>Lack of clothing and other basic needs</li>
				</ul>
			</div>

			<h2 align=center> Support a child at school </h2>
			<p>
			Buy a book, a pen, a pencil, exercise book, sanitary pads, a mathematical
			set, a back-pack, a rubber, a calculator, a ruler, a sharpener, a reading
			book, a pair of shoes, a pair of socks and other school materials.

			We are here to change the lives of people, redirecting the minds of people
			to towards a self-sustenance within their homes and surroundings.
			</h2>

			<div style="text-align: center">
				<img align=middle src='pictures/group_of_kids_2.jpeg'/>
			</div>

			<div style="text-align: center">
				<h2 align=center> Contact information </h2>
				<ul style="display: inline-block; text-align: left;">
					<li style="list-style:none;"><b>Kasibante Emmanuel</b></br>
					<li><b>Paypal:</b> vitalimmanuel@gmail.com</li>
					<li><b>IBAN:</b> IT41T3608105138265553265858</li>
					<li><b>BIC: </b>BPPIITRRXXX</li>
					<li><b>Telephone No and Whatsapp:</b> +39 377 097 5371</li>
					<li><b>Postal address:</b></br>
						Collegio Sant'Anselmo</br>
						Piazza dei Cavalieri di Malta 5, 00153 Roma</br>
						ITALY
					</li>
				</ul>
			</div>

		</main>

	</body>

{% include "footer.html" %}

</html>
