<!-- vim: set tabstop=2: -->
<!doctype html>
<html lang="en">

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="">
		<title>Piglet Project</title>
		<link href="common.css" rel="stylesheet">
	</head>

<style>
	div {
		text-align: center;
	}
	img {
		max-width: 80%;
	}
</style>

	<body>

		{% include "navbar.html" %}

		<main>

			<div>
				<img src='pictures/efp1.jpg'/>
			</div>

			<h1 align=center>What are the goals of this project</h1>
			<p>
				To solve both nutrition and financial problems over 60 poor families in
				the village of BINZI community for their sustainability. To improve the
				living standard for the poor families in all spheres of life.
				In summary this project will provide a start-up piglets (LOCAL BREED) to
				poor families without any financial means. Local breed is manageable
				especially to the weather climate which is tropical climate. This
				project of piggery is very friendly to our climate. It is also very
				friendly animal based.
			</p>

			<div>
				<img src='pictures/water-system-1.jpg'/>
			</div>

	</main>
	</body>

{% include "footer.html" %}


</html>
