<!-- vim: set tabstop=2: -->
<!doctype html>
<html lang="en">

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="">
		<title> Mass intentions</title>
		<link href="common.css" rel="stylesheet">
	</head>

	<style>
		h1 {
			text-align:center;
		}

		h2 {
			text-align:center;
		}
	</style>

	<body>

		{% include "navbar.html" %}

		<main>
			<h1>Mass Intentions</h1>

			<p>
			I am Fr. Emmanuel Kasibante, a Catholic Priest of the Catholic Diocese of
			Eshowe, South Africa. Currently I am here in Rome doing studies in Sacred
			Liturgy.
			</p>

			<div style="text-align: center">
				<img align=middle src='pictures/emmanuel_mass.jpg'/>
			</div>

			<h2>What are Mass Intentions?</h2>

			<p>
			These are special intentions or
			requests that the faithful ask their priests to offer them during the
			celebration of the  Holy Mass.  This custom, well understood in former
			generations past, is perhaps not so widely understood today. Any
			individual may ask a priest to offer a Mass for several reasons: for
			example, 

			(i) In thanksgiving for the graces received
			(ii) For the sick person 
			(iii) For the intentions of another person (such as on a birthday)
			(iv) For the repose of the soul of someone who has died.
			(v) For the souls in Purgatory  

			One must never forget the infinite graces that flow from the Sacrifice of
			the Mass which benefit one’s soul. In the celebration of the Eucharistic
			Sacrifice, the Church prays that God, the Father of mercies, will grant
			His children the fullness of the Holy Spirit so that they may become one
			body and one spirit in Christ. For many years priests have also depended
			on the offerings of the Mass Intentions for their survival and the
			continuation of pastoral work.
			</p>

			<p>
			<b>You are free to ask a Mass intention offered for you.</b>
			</p>


		</main>
	</body>

{% include "footer.html" %}

</html>
