<!-- vim: set tabstop=2: -->
		<nav id=navbar>
			<ul>
				<li><a href="index.html">Home</a></li>
				<li><a href="who_we_are.html">Who we are</a>
				<li><a href="#">What we do</a>
					<ul class="submenu">
						<li><a href="benificiaries.html">Benificiaries</a></li>
						<li><a href="challenges.html">Challenges</a></li>
						<li><a href="goals.html">Goals</a></li>
					</ul>
				</li>
				<li><a href="holy_mass.html">Holy Mass</a></li>
				<li><a href="get_involved.html">Get involved</a></li>
			</ul>
		</nav>
