<nav id="navbar" aria-label="Main Navigation">
  <!-- Checkbox for mobile menu toggle. Hidden in Lynx natively via attribute. -->
  <input type="checkbox" id="menu-toggle" hidden class="peer" />
  
  <!-- Hamburger Label. Hidden in Lynx naturally, visible on mobile via block, hidden on desktop via sm:hidden. -->
  <label for="menu-toggle" class="block sm:hidden bg-[darkred] text-[gold] border border-black p-2 text-center font-bold cursor-pointer select-none">
    ☰ Menu
  </label>
  
  <!-- Consolidated Navigation List -->
  <ul class="hidden peer-checked:flex sm:flex flex-col sm:flex-row w-full">
    <li class="flex-1 group relative">
      <a class="block border border-black p-2 text-center font-bold bg-[darkred] text-[gold] hover:bg-[gold] hover:text-[darkred] focus:bg-[gold] focus:text-[darkred]" href="/">Home</a>
    </li>
    <li class="flex-1 group relative">
      <a class="block border border-black p-2 text-center font-bold bg-[darkred] text-[gold] hover:bg-[gold] hover:text-[darkred] focus:bg-[gold] focus:text-[darkred]" href="/who_we_are.html">Who we are</a>
    </li>
    <li class="flex-1 group relative">
      <a class="hidden sm:block border border-black p-2 text-center font-bold bg-[darkred] text-[gold] hover:bg-[gold] hover:text-[darkred] focus:bg-[gold] focus:text-[darkred]" href="#">What we do</a>
      
      <!-- Submenu: Permanent indent on mobile, hover overlay on desktop -->
      <ul class="block sm:hidden sm:group-hover:block focus-within:block sm:absolute sm:left-0 sm:top-full sm:w-full z-10 shadow-lg">
        <li><a class="block border border-black p-2 pl-6 sm:pl-2 text-center font-bold bg-[#8b0000] sm:bg-[darkred] text-[gold] hover:bg-[gold] hover:text-[darkred] focus:bg-[gold] focus:text-[darkred]" href="/benificiaries.html">Beneficiaries</a></li>
        <li><a class="block border border-black p-2 pl-6 sm:pl-2 text-center font-bold bg-[#8b0000] sm:bg-[darkred] text-[gold] hover:bg-[gold] hover:text-[darkred] focus:bg-[gold] focus:text-[darkred]" href="/challenges.html">Challenges</a></li>
        <li><a class="block border border-black p-2 pl-6 sm:pl-2 text-center font-bold bg-[#8b0000] sm:bg-[darkred] text-[gold] hover:bg-[gold] hover:text-[darkred] focus:bg-[gold] focus:text-[darkred]" href="/goals.html">Goals</a></li>
      </ul>
    </li>
    <li class="flex-1 group relative">
      <a class="block border border-black p-2 text-center font-bold bg-[darkred] text-[gold] hover:bg-[gold] hover:text-[darkred] focus:bg-[gold] focus:text-[darkred]" href="/holy_mass.html">Holy Mass</a>
    </li>
    <li class="flex-1 group relative">
      <a class="block border border-black p-2 text-center font-bold bg-[darkred] text-[gold] hover:bg-[gold] hover:text-[darkred] focus:bg-[gold] focus:text-[darkred]" href="/get_involved.html">Get Involved</a>
    </li>
  </ul>
</nav>
