<!-- vim: set tabstop=2: -->
<!doctype html>
<html lang="en">

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="Terms of use" content="">
		<title>Terms of use</title>
		<link href="common.css" rel="stylesheet">
	</head>

	<body>

		{% include "navbar.html" %}

		<main>
			<h1 align=center>Terms of Use</h1>

			Fr. Emmanuel Kasibante provides this website for productive farming such
			as piggery farming, inspiration, education, participation in the life of
			families and child education. Please read this agreement carefully. By
			using this website, you acknowledge that you have read, understood, and
			agree to be bound by this agreement. If you do not accept the terms and
			conditions of this agreement or this website’s Privacy Policy, do not
			use the website.

			<h3>How are users of this website expected to behave?</h3>

			It is important to realize that your use of this site to maintain
			respect and thoughtful discourse. By visiting this site, users agree to
			adhere to certain standards of interactive conduct.  In any interaction
			with this site, visitors agree to refrain from:

			<ol>
				<li>
					using language that can reasonably be construed as offensive,
					derogatory, insulting, demeaning, or humiliating.
				</li>
				<li>
					“Flaming,” or “spamming,” or any practice that floods an
					individual with unwanted and/or derogatory communication.
				</li>
				<li>
					comments, statements, or terminology that can reasonably be
					construed as disparaging towards another’s race, gender,
					nationality, sexual orientation, socio-economic status,
					immigration status, or religious affiliation.
				</li>
				<li>
					“Online shouting” (use of all caps in any message)
				</li>
				<li>
					linking to offensive sites, including those that are
					pornographic or racist, that advocate violence or prejudice
					against any group or individuals, or that otherwise advocate
					beliefs or behaviours that conflict with human beings.
				</li>
			</ol>

			<h3>Use of copyrighted material without permission</h3>

			This website exists solely to advance the works of
			srdolores-foundation.it and to change both the lives of the poor
			families. Therefore, Fr. Kasibante Emmanuel retains the right to remove
			and/or block communications that he determines, in his sole capacity, to
			be detrimental to that purpose, whether such communications violate the
			prohibitions enumerated above.

			<h3>Who owns the content of this website, and how can it be used?</h3>

			This website contains various types of content, such as text, graphics,
			and images. This content may be owned by Fr. Emmanuel Kasibante. The
			content is protected by copyright under international laws. Unauthorized
			use of the content may violate copyright, and other laws, and is
			prohibited. You have no rights in or to the content except to the extent
			provided under this agreement. For any copy that applicable law permits
			you to make of the content, the copy must retain all copyright and other
			proprietary notices contained in the original. 

		</main>
	</body>

{% include "footer.html" %}


</html>
