<!-- vim: set tabstop=2: -->
<!doctype html>
<html lang="en">

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="">
		<title>Who we are | Piglet Project</title>
		<link href="common.css" rel="stylesheet">
	</head>

	<style>
     img {
				max-width=100%;
      }
	</style>

	<body class="background-color text-center">

		{% include "navbar.html" %}

		<main>
			<div class="d-flex flex-column flex-md-row text-center">

				<div style="text-align: center">
					<img style="width: 300px" src='pictures/sr_dolores_and_emmanuel.jpeg'/>
				</div>

				<div>
					<h1 align=center> Who we are </h1>

					<p align=left>
					We are friends and family of Sr. Dolores who has inspired us by her
					spirit of serving those in need.  She helped me become a Catholic
					priest and many other people. Let us make her spirit alive among the
					suffering people in the society. Who is Sr. Dolores? She was born in
					Forst, that is Germany, and she became a catholic Nun in the
					congregation of the Holy Childhood in Oberzell. In 1955 she left
					Germany for a missionary assignment in Africa, where she worked for
					60 years. She returned to eternity on the 25th of February 2022.
					</p>
				</div>

				<div style="text-align: center">
					<img src='pictures/emmanuel_with_kids_3.jpeg'/>
				</div>

			</div>

		</main>

	</body>

{% include "footer.html" %}

</html>
